<div class="row">
    <div class="col alert alert-primary alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">You don't have any plants in your collection yet</h4>

        <p>Add some new plants to your collection, and then you can manage them here</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
