<main clas="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-auto">
            <%= render  partial: 'plant_species/card',
                        locals: { plant_species: @plant_species, btns: [:edit, :delete], details: true} %>
        </div>
    </div>
</main>
