<div class="container">
    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid d-flex justify-content-around">
            <a class="navbar-brand" href="/">Plantera</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-flex justify-content-between">

                <%= form_with url: destroy_user_session_path, method: :delete do %>
                    <span class="navbar-text">
                        <%= current_user.email %>
                    </span>
                    <button class="btn btn-outline-danger" type="submit">Logout</button>
                <% end %>
            </div>
        </div>
    </nav>
</div>
